.user-register {
    width: 100%;
    max-width:1440px ;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  align-items: center;

  height: 100vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

     &__card1 {
    width: 100%;
    height: 100%;
    background: url("/assets/event.png");
    background-size: cover;
    background-position: center;
    padding: 48px;

    &__logo {
      margin-bottom: 80px;
      cursor: pointer;
    }

    &__title {
      @extend %title-48;
      font-family: unset;
      margin-bottom: 16px;
      color: #FFF
    }
    &__subtitle {
      @extend %title-18;
      line-height: 26px;
      margin-bottom: 36px;
      color: #FFF;
    }

    &__group {
        @extend %title-20;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 22px;

    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 194px;

      & > h4 {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  &__card2 {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 160px;
    padding-bottom: 96px;
    margin: auto;
 
    &__title {
      @extend %title-32;
      margin-bottom: 8px;
      line-height: 40px
    }

    &__subtitle {
      @extend %title-16;
      color: #7A7C79;
      margin-bottom: 32px;
      max-width: 40ch;
      line-height: 24px;

      & > a {
        color: #028C4B;
        text-decoration: underline;
      }
    }


    &__subsubtitle {
      @extend %title-20;
      font-weight: 600;
      color: #232423;
      margin-bottom: 16px;
    }

    &__button {
      @extend %button-green;
      max-width: 100%;
      height: 48px;
      margin-bottom: 32px;
    }

    &__form {
      width: 100%;

      & > label {
        width: fit-content;
        font-size: 14px;
        font-weight: 400;
        color: #565856;
        margin-bottom: 4px;
      }

      & > select, & > input {
        @extend %normal-input;
        margin-bottom: 16px;
      }

      & > textarea {
        @extend %normal-input;
        margin-bottom: 16px;
        height: 156px;
        padding-top: 12px;
      }

      &__input-group {
        display: flex;
        align-items: 100%;
        gap: 16px;
        & > div {
          width: 100%;
          & > label {
            width: fit-content;
        font-size: 14px;
        font-weight: 400;
        color: #565856;
        margin-bottom: 4px;
          }

          & > select, & > input {
            @extend %normal-input;
            margin-bottom: 16px;
          }
        }
      }

      &__checkbox {
        @extend %title-14;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #565856;
        margin-bottom: 16px;
        width: fit-content;

        & > input {
          width: 16px;
          height: 16px;
          border-radius: var(--spacing-xs, 4px);
border: 1px solid var(--Colors-Border-border-primary, #D5D8D5);
        }

         & > span {
            text-decoration: underline;
            color: #028C4B;
         }
      }

      &__button {
        @extend %button-bland;
        min-width: 400px;
        max-width: 400px;
        margin-top: 16px;
        background: #EFF0EF;
      }
      &__button-group {
        width: 100%;
        max-width: 400px;
        display: flex;
        gap: 12px;

        & > button {
          @extend %button-bland;
          width: 100%;
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        }

        & > :first-child {
          &:hover {
            background: #F9FAFA;
            color: #ACAFAC;
          }
        }

        & > :last-child {
          background: #EFF0EF;

        }
      }
    }
   
  }

}