.landing {
  &__hero {
    margin: auto;
    width: 100%;
    height: 880px;

    background: url("/assets/Hero Section.png");
    background-size: cover;
    background-position: center;
    padding: 32px 96px;

    @media (max-width: 1024px) {
      height: fit-content;
      padding: 32px 16px;
    }

    &__header {
      // max-width: 1440px;
      width: 80%;
      height: 72px;
      margin-bottom: 7.6rem;

      &__inner {
        max-width: 580px;
        width: 100%;
        height: 72px;
        border-radius: 40px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        position: fixed;
        z-index: 2;

        @media (max-width: 565px) {
          max-width: 361px;
        }

        &__button {
          @extend %button-green;
        }
      }
    }

    &__inner {
      width: 100%;
      height: 400px;
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      gap: 170px;

      @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        height: fit-content;
        gap: 80px;
      }

      &__card1 {
        &__title {
          @extend %title-60;
          margin-bottom: 2.4rem;
        }
        &__subtitle {
          @extend %title-20;
          margin-bottom: 4.8rem;
          max-width: 50ch;
          width: 100%;
          line-height: 32px;

          @media (max-width: 565px) {
            line-height: 24px;
            margin-bottom: 3.2rem;
          }
        }

        &__form {
          max-width: 440px;
          width: 100%;
          height: 56px;
          border-radius: 40px;
          background: #fff;
          display: grid;
          align-items: center;
          justify-content: center;
          grid-template-columns: 1fr auto;
          padding: 8px 8px 8px 16px;
          margin-bottom: 4.8rem;

          @media (max-width: 565px) {
            margin-bottom: 3.2rem;
          }
          &__input {
            width: 100%;
            height: 100%;
            border: none;
          }

          &__button {
            @extend %button-green;
          }
        }

        &__join {
          display: flex;
          align-items: center;
          gap: 32px;

          &__image {
            position: relative;
            width: 128px;
            height: 32px;
          }
        }
      }
      &__card2 {
        max-width: 530px;
        width: 100%;
        height: 520px;
        position: relative;
        margin-top: -40px;

        @media (max-width: 565px) {
          display: none;
        }
        &__item1 {
          top: 0;
          left: 14px;
          width: 260px;
          height: 360px;
          // object-fit: cover;
          position: absolute;
          display: inline-block;
          animation: slide1 8s infinite linear;

          border-radius: 16px;
          z-index: 3;

          @media (max-width: 565px) {
            width: 182px;
          }

          &__border-animation {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 6px solid transparent;
            animation: borderAnimation1 4s infinite linear;
            border-radius: 16px;
          }
        }
        &__item2 {
          top: 14px;
          right: 20px;
          width: 280px;
          height: 200px;
          // object-fit: cover;
          position: absolute;
          display: inline-block;
          animation: slide2 8s infinite linear;
          border-radius: 16px;

          @media (max-width: 565px) {
            width: 196px;
            right: 25%;
          }

          &__border-animation {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 6px solid transparent;
            animation: borderAnimation2 4s infinite linear;
            border-radius: 16px;
          }
        }
        &__item3 {
          top: 176px;
          right: -10px;
          width: 280px;
          height: 360px;
          // object-fit: cover;
          position: absolute;
          display: inline-block;
          animation: slide3 8s infinite linear;
          border-radius: 16px;
          z-index: 1;

          @media (max-width: 565px) {
            width: 196px;
            right: 24%;
          }

          &__border-animation {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 6px solid transparent;
            animation: borderAnimation3 4s infinite linear;
            border-radius: 16px;
          }
        }
        &__item4 {
          bottom: -30px;
          left: 20px;
          width: 260px;
          height: 200px;
          // object-fit: cover;
          position: absolute;
          display: inline-block;
          animation: slide4 8s infinite linear;
          border-radius: 16px;
          z-index: 2;

          @media (max-width: 565px) {
            width: 182px;
            bottom: -10px;
          }

          &__border-animation {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 6px solid transparent;
            animation: borderAnimation3 4s infinite linear;
            border-radius: 16px;
          }
        }
      }
    }
  }

  &__about {
    width: 100%;
    height: 592px;
    background: #ebfff5;

    @media (max-width: 768px) {
      height: fit-content;
    }
    &__inner {
      max-width: 1440px;
      width: 100%;
      margin: auto;
      padding: 96px;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
      @media (max-width: 1024px) {
        padding: 96px 16px;
      }
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      &__card1 {
        width: 100%;
        &__title {
          @extend %title-48;
          color: #050f0d;
          margin-bottom: 2rem;

          @media (max-width: 565px) {
            margin-bottom: 1.6rem;
          }
        }
        &__subtitle {
          @extend %title-18;
          color: #565d5b;
          max-width: 55ch;
          width: 100%;
        }
      }

      &__card2 {
        width: 100%;
        position: relative;
        height: 400px;

        @media (max-width: 565px) {
          height: 240px;
        }

        &__border-animation {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          border: 6px solid transparent;
          animation: borderAnimation1 4s infinite linear;
          border-radius: 16px;
        }
      }
    }
  }

  &__range {
    width: 100%;
    height: 800px;
    background: url("/assets/Content Section.png");
    background-size: cover;
    background-position: center;
    padding: 0 16px;

    @media (max-width: 768px) {
      height: fit-content;
    }

    @media (max-width: 565px) {
      height: fit-content;
    }

    &__inner {
      max-width: 1440px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1.86fr;
      gap: 80px;
      align-items: center;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 48px;
        padding-top: 64px;
      }

      &__card1 {
        width: 100%;
        height: 400px;
        @extend %title-60;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
          justify-content: start;
          line-height: unset;
          height: fit-content;
        }

        & > h2 {
          width: 100%;
          max-width: 12.5ch;

          @media (max-width: 768px) {
            max-width: 100%;
          }
        }
      }
      &__card2 {
        width: 100%;
        height: 800px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;

        @media (max-width: 565px) {
          height: fit-content;
        }

        &__inner {
          height: 800px;
          overflow-y: hidden;

          @media (max-width: 565px) {
            height: 32rem;
          }

          &::-webkit-scrollbar {
            display: none;
          }
          &__slider {
            display: flex;
            flex-direction: column;
            gap: 16px;
            animation: marquee 12s infinite linear;

            @media (max-width: 565px) {
              animation-name: minMarquee;
            }

            &__card {
              position: relative;
              width: 100%;
              min-height: 360px;
              background: rgba(0, 0, 255, 0.214);
              border-radius: 16px;

              @media (max-width: 565px) {
                min-height: 155px;
              }

              &__title {
                position: absolute;
                top: 24px;
                left: 24px;
                @extend %title-36;
                z-index: 2;
                color: #fff;

                @media (max-width: 565px) {
                  font-size: 15.524px;
                  font-family: unset;
                }
              }
            }
          }
        }

        &__inner-middle {
          @media (max-width: 565px) {
            height: 32rem;
          }
          &__slider {
            transform: translate(0, -1880px);
            animation: marqueeReverse 12s infinite linear;

            @media (max-width: 565px) {
              transform: translate(0, -855px);
            }
          }
        }
      }
    }
  }

  &__who {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 716px;
    padding: 96px;

    @media (max-width: 1024px) {
      padding: 96px 16px;
    }

    @media (max-width: 768px) {
      height: 100%;
    }

    &__title {
      @extend %title-60;
      color: #050f0d;
      margin-bottom: 6.4rem;
    }

    &__inner {
      width: 100%;
      height: 400px;
      display: flex;
      gap: 16px;
      transition: 0.7s;

      @media (max-width: 768px) {
        flex-direction: column;
        height: 100%;
      }

      &__card1 {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 16px;
        background: #007a3f;
        transition: 0.7s;
        padding: 32px 48px;

        @media (max-width: 768px) {
          height: 288px;
        }

        &__title {
          @extend %title-48;
          color: #fff;
          margin-bottom: 2.8rem;
          width: fit-content;
          height: fit-content;
          transition: 0.7s;
          transform: translate(0, 0);
        }

        &__group {
          display: flex;
          align-items: center;
          gap: 16px;
          @extend %title-20;
          font-weight: 500;
          margin-bottom: 3.4rem;
          transition: 0.7s;
        }
      }
      &__card2 {
        height: 100%;
        width: 200%;
        border-radius: 16px;
        background: url("/assets/Heading.png");
        background-size: cover;
        background-position: center;
        padding: 32px 48px;
        transition: 0.7s;

        @media (max-width: 768px) {
          width: 100%;
          height: 288px;
        }

        &__title {
          @extend %title-48;
          color: #fff;
          transform: translate(0, 268px);
          transition: 0.7s;

          @media (max-width: 768px) {
            transform: translate(0, 200px);
          }
        }

        &__group {
          display: flex;
          align-items: center;
          gap: 16px;
          @extend %title-20;
          font-weight: 500;
          margin-bottom: 3.4rem;
          transition: 0.7s;
          opacity: 0;
        }
      }
    }

    &__inner2 {
      .landing__who__inner__card1 {
        width: 200%;
        background: url("/assets/Heading2.png");
        background-size: cover;
        background-position: center;

        @media (max-width: 768px) {
          width: 100%;
        }

        .landing__who__inner__card1__title {
          transform: translate(180%, 268px);

          @media (max-width: 1024px) {
            transform: translate(140%, 268px);
          }

          @media (max-width: 768px) {
            transform: translate(0, 200px);
          }
        }

        .landing__who__inner__card1__group {
          opacity: 0;
        }
      }
      .landing__who__inner__card2 {
        width: 100%;
        background: #d3780d;

        .landing__who__inner__card2__title {
          transform: translate(0, 0);
          margin-bottom: 2.8rem;
        }

        .landing__who__inner__card2__group {
          opacity: 1;
        }
      }
    }
  }

  &__call {
    width: 100%;
    height: 848px;
    background: #fef7ec;
    padding: 96px 0;

    &__inner {
      max-width: 1440px;
      width: 100%;
      margin: auto;
      padding: 0 96px;

      @media (max-width: 565px) {
        padding: 0 16px;
      }

      &__title {
        @extend %title-48;
        text-align: center;
        max-width: 26ch;
        width: 100%;
        margin: auto;
        color: #050f0d;
        margin-bottom: 3.2rem;
      }
      &__subtitle {
        @extend %title-20;
        text-align: center;
        max-width: 70ch;
        width: 100%;
        margin: auto;
        color: #565d5b;
        line-height: 32px;
        margin-bottom: 3.2rem;
      }

      &__button {
        @extend %button-green;
        min-width: 232px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background: #f6b94e;
        color: #034c38;
        margin-bottom: 6.4rem;
      }
    }
    &__group {
      width: 100%;
      height: 280px;
      overflow: hidden;

      &__slider {
        display: flex;
        gap: 16px;
        animation: callMarquee 12s linear infinite;

        &__card {
          position: relative;
          min-width: 440px;
          height: 280px;
          border-radius: 16px;

          @media (max-width: 565px) {
            min-width: 314px;
          }

          &__title {
            position: absolute;
            bottom: 20px;
            left: 20px;
            @extend %title-36;
            color: #fff;
          }
        }
      }
    }
  }



  &__discover {
    width: 100%;
    height: 576px;
    background: #f6b94e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 96px;

    @media (max-width: 565px) {
      display: none;
    }

    &__inner {
      max-width: 1440px;
      width: 100%;
      margin: auto;
      height: 384px;
      background: url("/assets/Container.png");
      background-size: cover;
      background-position: center;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__title {
        @extend %title-48;
        text-align: center;
        color: #f6b94e;
        width: 22ch;
        margin-bottom: 1.6rem;
        line-height: 60px;
      }

      &__subtitle {
        @extend %title-20;
        margin-bottom: 3.2rem;
        width: 50ch;
        line-height: 32px;
        color: #fff;
        text-align: center;
      }
      &__form {
        width: 440px;
        height: 56px;
        border-radius: 40px;
        background: #fff;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr auto;
        padding: 8px 8px 8px 16px;
        &__input {
          width: 100%;
          height: 100%;
          border: none;
        }

        &__button {
          @extend %button-green;
          background: #f6b94e;
          color: #034c38;
        }
      }
    }
  }

  &__modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.24);

    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
      width: 360px;
      height: 288px;
      background: #fff;
      border-radius: 16px;
      padding: 32px 24px;

      &__flex {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 3.2rem;
      }

      &__title {
        @extend %title-20;
        color: #050f0d;
        font-weight: 700;
        margin-bottom: 2rem;
      }
      &__subtitle {
        color: #565d5b;
        line-height: 20px;
        margin-bottom: 3.2rem;
      }

      &__button {
        width: 100%;
        height: 40px;
        border-radius: 48px;
        background: #050f0d;
        @extend %title-16;
        font-weight: 600;
        color: #fff;
        border: none;
        outline: none;
      }
    }
  }

 
}

@keyframes marquee {
  100% {
    transform: translate(0, -1880px);
  }
}
@keyframes minMarquee {
  100% {
    transform: translate(0, -855px);
  }
}
@keyframes marqueeReverse {
  100% {
    transform: translate(0, 0);
  }
}
@keyframes callMarquee {
  100% {
    transform: translateX(-1824px);
  }
}

@keyframes borderAnimation1 {
  0% {
    border-top-color: orange;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: orange;
    border-right-color: orange;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: transparent;
    border-right-color: orange;
    border-bottom-color: orange;
    border-left-color: transparent;
  }
  75% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: orange;
    border-left-color: orange;
  }
  100% {
    border-top-color: orange;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
@keyframes borderAnimation2 {
  0% {
    border-top-color: #6b5c33;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: #6b5c33;
    border-right-color: #6b5c33;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: transparent;
    border-right-color: #6b5c33;
    border-bottom-color: #6b5c33;
    border-left-color: transparent;
  }
  75% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #6b5c33;
    border-left-color: #6b5c33;
  }
  100% {
    border-top-color: #6b5c33;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
@keyframes borderAnimation3 {
  0% {
    border-top-color: #048f4c;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: #048f4c;
    border-right-color: #048f4c;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: transparent;
    border-right-color: #048f4c;
    border-bottom-color: #048f4c;
    border-left-color: transparent;
  }
  75% {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #048f4c;
    border-left-color: #048f4c;
  }
  100% {
    border-top-color: #048f4c;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

@keyframes slide1 {
  0% {
    background: url("/assets/Type=Type6.png");
    background-position: center;
    background-size: cover;
  }
  25% {
    background: url("/assets/Image (2).png");
    background-position: center;
    background-size: cover;
  }
  50% {
    background: url("/assets/Type=Type4.png");
    background-position: center;
    background-size: cover;
  }
  75% {
    background: url("/assets/Image (2).png");
    background-position: center;
    background-size: cover;
  }
  100% {
    background: url("/assets/Type=Type6.png");
    background-position: center;
    background-size: cover;
  }
}
@keyframes slide2 {
  0% {
    background: url("/assets/Type=Type9.png");
    background-position: center;
    background-size: cover;
  }
  25% {
    background: url("/assets/Type=Type8.png");
    background-position: center;
    background-size: cover;
  }
  50% {
    background: url("/assets/Type=Type7.png");
    background-position: center;
    background-size: cover;
  }
  75% {
    background: url("/assets/Type=Type8.png");
    background-position: center;
    background-size: cover;
  }
  100% {
    background: url("/assets/Type=Type9.png");
    background-position: center;
    background-size: cover;
  }
}
@keyframes slide3 {
  0% {
    background: url("/assets/Type=Type12.png");
    background-position: center;
    background-size: cover;
  }
  25% {
    background: url("/assets/Type=Type11.png");
    background-position: center;
    background-size: cover;
  }
  50% {
    background: url("/assets/Type=Type10.png");
    background-position: center;
    background-size: cover;
  }
  75% {
    background: url("/assets/Type=Type11.png");
    background-position: center;
    background-size: cover;
  }
  100% {
    background: url("/assets/Type=Type12.png");
    background-position: center;
    background-size: cover;
  }
}
@keyframes slide4 {
  0% {
    background: url("/assets/Type=1.png");
    background-position: center;
    background-size: cover;
  }
  25% {
    background: url("/assets/Type=2.png");
    background-position: center;
    background-size: cover;
  }
  50% {
    background: url("/assets/Type=3.png");
    background-position: center;
    background-size: cover;
  }
  75% {
    background: url("/assets/Type=2.png");
    background-position: center;
    background-size: cover;
  }
  100% {
    background: url("/assets/Type=1.png");
    background-position: center;
    background-size: cover;
  }
}
