.landing {
  &__hero {
    margin: auto;
    width: 100%;
    height: 880px;

    background: url("/assets/Hero Section.png");
    background-size: cover;
    background-position: center;
    padding: 32px 96px;

    &__header {
      max-width: 1440px;
      width: 100%;
      height: 72px;
      margin-bottom: 7.6rem;

      &__inner {
        width: 580px;
        height: 72px;
        border-radius: 40px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        position: fixed;
        z-index: 2;

        &__button {
          @extend %button-green;
        }
      }
    }

    &__inner {
      width: 100%;
      height: 400px;
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      gap: 170px;

      &__card1 {
        &__title {
          @extend %title-60;
          margin-bottom: 2.4rem;
        }
        &__subtitle {
          @extend %title-20;
          margin-bottom: 4.8rem;
          width: 50ch;
          line-height: 32px;
        }

        &__form {
          width: 440px;
          height: 56px;
          border-radius: 40px;
          background: #fff;
          display: grid;
          align-items: center;
          justify-content: center;
          grid-template-columns: 1fr auto;
          padding: 8px 8px 8px 16px;
          margin-bottom: 4.8rem;
          &__input {
            width: 100%;
            height: 100%;
            border: none;
          }

          &__button {
            @extend %button-green;
          }
        }

        &__join {
          display: flex;
          align-items: center;
          gap: 32px;

          &__image {
            position: relative;
            width: 128px;
            height: 32px;
          }
        }
      }
      &__card2 {
        &__image {
          position: relative;
          width: 100%;
          height: 520px;
        }
      }
    }
  }

  &__about {
    width: 100%;
    height: 592px;
    background: #ebfff5;
    &__inner {
      max-width: 1440px;
      width: 100%;
      margin: auto;
      padding: 96px;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      gap: 32px;

      &__card1 {
        width: 100%;
        &__title {
          @extend %title-48;
          color: #050f0d;
          margin-bottom: 2rem;
        }
        &__subtitle {
          @extend %title-18;
          color: #565d5b;
          width: 55ch;
        }
      }

      &__card2 {
        width: 100%;
        position: relative;
        height: 400px;
      }
    }
  }

  &__range {
    width: 100%;
    height: 800px;
    background: url("/assets/Content Section.png");
    background-size: cover;
    background-position: center;
    padding: 0 16px;

    &__inner {
      max-width: 1440px;
      width: 100%;
      height: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1.86fr;
      gap: 80px;
      align-items: center;

      &__card1 {
        width: 100%;
        height: 400px;
        @extend %title-60;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

        & > h2 {
          width: 12.5ch;
        }
      }
      &__card2 {
        width: 100%;
        height: 800px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;

        &__inner {
          height: 800px;
          overflow-y: hidden;

          &::-webkit-scrollbar {
            display: none;
          }
          &__slider {
            display: flex;
            flex-direction: column;
            gap: 16px;
            animation: marquee 5s infinite linear;

            &__card {
              position: relative;
              width: 100%;
              min-height: 360px;
              background: rgba(0, 0, 255, 0.214);
              border-radius: 16px;

              &__title {
                position: absolute;
                top: 24px;
                left: 24px;
                @extend %title-36;
                z-index: 2;
                color: #fff;
              }
            }
          }
        }

        &__inner-middle {
          &__slider {
            transform: translate(0, -1128px);
            animation: marqueeReverse 5s infinite linear;
          }
        }
      }
    }
  }

  &__who {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 716px;
    padding: 96px;

    &__title {
      @extend %title-60;
      color: #050f0d;
      margin-bottom: 6.4rem;
    }

    &__inner {
      width: 100%;
      height: 400px;
      display: flex;
      gap: 16px;
      transition: 0.7s;

      &__card1 {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 16px;
        background: #007a3f;
        transition: 0.7s;
        padding: 32px 48px;

        &__title {
          @extend %title-48;
          color: #fff;
          margin-bottom: 2.8rem;
          width: fit-content;
          height: fit-content;
          transition: 0.7s;
          transform: translate(0, 0);
        }

        &__group {
          display: flex;
          align-items: center;
          gap: 16px;
          @extend %title-20;
          font-weight: 500;
          margin-bottom: 3.4rem;
          transition: 0.7s;
        }
      }
      &__card2 {
        height: 100%;
        width: 200%;
        border-radius: 16px;
        background: url("/assets/Heading.png");
        background-size: cover;
        background-position: center;
        padding: 32px 48px;
        transition: 0.7s;

        &__title {
          @extend %title-48;
          color: #fff;
          transform: translate(0, 268px);
          transition: 0.7s;
        }

        &__group {
          display: flex;
          align-items: center;
          gap: 16px;
          @extend %title-20;
          font-weight: 500;
          margin-bottom: 3.4rem;
          transition: 0.7s;
          opacity: 0;
        }
      }
    }

    &__inner2 {
      .landing__who__inner__card1 {
        width: 200%;
        background: url("/assets/Heading2.png");
        background-size: cover;
        background-position: center;

        .landing__who__inner__card1__title {
          transform: translate(180%, 268px);
        }

        .landing__who__inner__card1__group {
          opacity: 0;
        }
      }
      .landing__who__inner__card2 {
        width: 100%;
        background: #d3780d;

        .landing__who__inner__card2__title {
          transform: translate(0, 0);
          margin-bottom: 2.8rem;
        }

        .landing__who__inner__card2__group {
          opacity: 1;
        }
      }
    }
  }

  &__call {
    width: 100%;
    height: 848px;
    background: #fef7ec;
    padding: 96px 0;

    &__inner {
      max-width: 1440px;
      width: 100%;
      margin: auto;
      padding: 0 96px;

      &__title {
        @extend %title-48;
        text-align: center;
        width: 26ch;
        margin: auto;
        color: #050f0d;
        margin-bottom: 3.2rem;
      }
      &__subtitle {
        @extend %title-20;
        text-align: center;
        width: 70ch;
        margin: auto;
        color: #565d5b;
        line-height: 32px;
        margin-bottom: 3.2rem;
      }

      &__button {
        @extend %button-green;
        min-width: 232px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background: #f6b94e;
        color: #034c38;
        margin-bottom: 6.4rem;
      }
    }
    &__group {
      width: 100%;
      height: 280px;
      overflow: hidden;

      &__slider {
        display: flex;
        gap: 16px;
        animation: callMarquee 10s linear infinite;


        &__card {
          position: relative;
          min-width: 440px;
          height: 280px;
          border-radius: 16px;

          &__title {
            position: absolute;
            bottom: 20px;
            left: 20px;
            @extend %title-36;
            color: #fff;
          }
        }
      }
    }
  }

  &__faq {
    max-width: 1440px;
    width: 100%;
    height: 1268px;
    padding: 96px;

    &__title {
      @extend %title-48;
      text-align: center;
      margin: auto;
      color: #050f0d;
      margin-bottom: 3.2rem;
    }

    &__subtitle {
      @extend %title-20;
      text-align: center;
      color: #565d5b;
      margin-bottom: 6.4rem;
    }

    &__card {
      max-width: 768px;
      width: 100%;
      padding: 24px;
      background: #ebfff5;
      margin: 0 auto;
      transition: 1s;
      margin-bottom: 3.2rem;

      &__flex {
        //   height: 76px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.8rem;
        font-weight: 600;
        color: #050f0d;

        & > svg {
          transition: 1s;
          cursor: pointer;
        }
      }

      &__answer {
        font-size: 0.2px;

      }
    }

    &__card-active {
      background: #fef7ec;
      .landing__faq__card__flex {
        & > svg {
          transform: rotate(45deg);
        }
      }
      .landing__faq__card__answer {
        margin-top: 2rem;
        @extend %title-16;

      }
    }
  }

  &__discover {
    width: 100%;
    height: 576px;
background: #F6B94E;
display: flex;
align-items: center;
justify-content: center;
padding: 0 96px;


&__inner {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 384px;
    background: url("/assets/Container.png");
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        @extend %title-48;
        text-align: center;
        color: #F6B94E;
        width: 22ch;
        margin-bottom: 1.6rem;
        line-height: 60px;
      }

      &__subtitle {
        @extend %title-20;
        margin-bottom: 3.2rem;
        width: 50ch;
        line-height: 32px;
        color: #FFF;
        text-align: center;
      }
      &__form {
        width: 440px;
        height: 56px;
        border-radius: 40px;
        background: #fff;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr auto;
        padding: 8px 8px 8px 16px;
        &__input {
          width: 100%;
          height: 100%;
          border: none;
        }

        &__button {
          @extend %button-green;
          background: #f6b94e;
        color: #034c38;
        }
      }

}
  }

  &__modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.24);

backdrop-filter: blur(4px);
display: flex;
align-items: center;
justify-content: center;

&__inner {
    width: 360px;
    height: 288px;
    background: #FFF;
    border-radius: 16px;
    padding: 32px 24px;

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 3.2rem;
    }

    &__title {
        @extend %title-20;
        color: #050F0D;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    &__subtitle {
        color: #565D5B;
        line-height: 20px;
        margin-bottom: 3.2rem;
    }

    &__button {
        width: 100%;
        height: 40px;
        border-radius: 48px;
        background: #050F0D;
        @extend %title-16;
        font-weight: 600;
        color: #FFF;
        border: none;
        outline: none;
    }
}
  }
}

@keyframes marquee {
  100% {
    transform: translate(0, -1128px);
  }
}
@keyframes marqueeReverse {
  100% {
    transform: translate(0, 0);
  }
}
@keyframes callMarquee {
  100% {
    transform: translateX(-1824px);
}
}
