.login {
    width: 100%;
    height: 100vh;
  
    margin: auto;
    max-width: 1440px;
    width: 100%;
    overflow-y: auto;
  
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100vh;
      &__box1 {
        width: 100%;
        height: 100%;
        padding-top: 80px;
        padding-left: 100px;
  
        &__header {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 1.8rem;
          font-weight: 500;
          margin-bottom: 8rem;
        }
  
        &__title {
          @extend %title-32;
          margin-bottom: 2rem;
          text-align: center;
        }
        &__subtitle {
          @extend %title-16;
          text-align: center;
        }
  
        &__card {
          width: 100%;
          max-width: 618px;
          border: 2px solid rgba(250, 250, 250, 1);
          border-radius: 15px;
          height: 171px;
          padding: 40px;
          margin-top: 4rem;
          margin-bottom: 100px;
          cursor: pointer;
  
          &__title {
            @extend %title-24;
          }
          &__subtitle {
            @extend %title-16;
            line-height: 40px;
            color: rgba(128, 128, 128, 1);
          }
        }
  
        &__card-active {
          border: 2px solid rgba(255, 215, 0, 1);
          position: relative;
  
          &__svg {
            position: absolute;
            top: 30px;
            right: 40px;
          }
        }
      }
      &__box2 {
        width: 100%;
        height: 100%;
        background: url("/assets/Rectangle 10211.png");
        background-size: cover;
        background-position: center;
      }
    }
  
    &__card-grid {
      width: 100%;
      max-width: 1130px;
      min-height: 78.4rem;
      display: grid;
      grid-template-columns: 1.4fr 2fr;
      border-radius: 15px;
      border: 2px solid rgba(250, 250, 250, 1);
      // border: 2px solid yellow;
      margin: 40px auto;
  
      &__box1 {
        background: url("/assets/Rectangle 10214.png");
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        padding: 30px 50px;
        border-radius: 15px 0 0 15px;
  
        &__title {
          font-size: 5.6rem;
          font-weight: 700;
          color: rgba(255, 215, 0, 1);
          line-height: 88px;
        }
        &__subtitle {
          @extend %title-16;
          line-height: 24px;
          color: rgba(255, 255, 255, 1);
        }
      }
      &__box2 {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        padding: 20px 0 20px 70px;
  
     
  
        &__title {
          @extend %title-32;
          margin-bottom: 1.5rem;
        }
        &__subtitle {
          width: 100%;
          max-width: 480px;
          @extend %title-16;
          color: rgba(128, 128, 128, 1);
          margin-bottom: 3rem;
          line-height: 24px;
  
          span {
            color: rgba(255, 215, 0, 1);
          }
        }
  
        &__label {
          margin-bottom: 1rem;
        }
  
        &__input {
          @extend %normal-input;
          margin-bottom: 3rem;
        }

        &__forgot {
            @extend %title-16;
            width: 100%;
            max-width: 480px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;

            & > div {
                display: flex;
                align-items: center;
                gap: 5px;
                color: rgba(36, 35, 35, 1);

                input {
                    width: 24px;
                    height: 24px;
                }
                
            }

            & > :last-child {
                color: rgba(255, 215, 0, 1);

            }
        }
    
        &__terms {
          @extend %title-14;
          width: 100%;
          max-width: 480px;
          line-height: 20px;
          color: rgba(128, 128, 128, 1);
  
  
          span {
            color: rgba(255, 215, 0, 1);
          }
        }
        
  
        &__button {
          width: 179px;
          @extend %primary-button;
          margin-top: 4rem;
        }
  
        
      }
    }
  }
  