.business-dashboard-container {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
}
.business-dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  &__main {
    width: 100%;
    padding: 32px 24px;
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 32px;

      & > :first-child {
        & > :first-child {
          @extend %title-32;
          color: var(--colors-text-text-primary-900, #232423);
          font-weight: 600;
          line-height: 40px; /* 125% */
          margin: 4px;
        }

        & > :last-child {
          @extend %title-16;
          color: #7a7c79;
          font-weight: 400;
        }
      }

      & > button {
        @extend %button-green;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
      }
    }

    &__preview {
      width: 100%;
      padding: 24px;
      border-radius: 12px;
      border-radius: var(--radius-xl, 12px);
      border: 1px solid var(--Colors-Border-border-secondary, #eaebea);
      background: var(--Colors-Background-bg-primary, #fff);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      &__title {
        & > :first-child {
          @extend %title-14;
          color: #7a7c79;
          margin-bottom: 8px;
        }
        & > :last-child {
          @extend %title-32;
          color: #232423;
          font-weight: 600;
        }
      }

      &__button {
        display: flex;
        align-items: center;
        gap: 12px;

        & > :first-child {
          @extend %button-gray;
        }

        & > :last-child {
          @extend %button-green-trans;
        }
      }
    }

    &__cards {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 24px;

      &__card {
        width: 100%;
        padding: 24px;
        border-radius: var(--radius-xl, 12px);
        border: 1px solid var(--Colors-Border-border-secondary, #eaebea);
        background: var(--Colors-Background-bg-primary, #fff);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        &__title {
          @extend %title-14;
          color: #7a7c79;
          font-weight: 500;
          margin-bottom: 8px;
        }

        &__value {
          @extend %title-32;
          font-weight: 600;
          color: #232423;
        }
      }
    }

    &__stats {
      width: 100%;
      height: 368px;
      border-radius: var(--radius-xl, 12px);
      border: 1px solid var(--Colors-Border-border-secondary, #eaebea);
      background: var(--Colors-Background-bg-primary, #fff);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      padding: 24px;

      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > :first-child {
          @extend %title-18;
          font-weight: 600;
          color: #232423;
        }

        & > :last-child {
          @extend %button-gray;
          margin-bottom: 20px;
        }
      }

      &__filter {
        display: flex;
        align-items: center;
        gap: 4px;

        & > div {
          @extend %title-14;
          font-weight: 500;

          border-radius: var(--radius-sm, 6px);
          padding: 10px 12px;
          width: fit-content;

          color: #929692;
        }

        &__active {
          color: #565856;
          background: var(--Colors-Background-bg-active, #f4f5f4);
        }
      }
    }
  }

  &__notifications {
    width: 380px;
    padding: 32px 24px;
    border-left: 1px solid var(--Colors-Border-border-secondary, #EAEBEA);
background: var(--Colors-Background-bg-secondary, #F9FAFA);
overflow-y: auto;
    &__title {
      @extend %title-18;
      font-weight: 600;
      color: #232423;
      margin-bottom: 32px;
    }

    &__card {
      display: flex;
      align-items: start;
      gap: 12px;
      margin-bottom: 20px;

      &__title {
        @extend %title-14;
        & > :first-child {
          font-weight: 500;
          color: #344054;
          line-height: 20px; /* 142.857% */
        }

        & > :last-child {
          color: #475467;
          & > span {
            font-weight: 500;
            color: #017841;
          }
        }
      }
    }
  }
}
