.edit-event {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #fff;
  &__header {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 20px;
    border-bottom: 1px solid var(--Colors-Border-border-secondary, #eaebea);
    background: var(--Colors-Background-bg-primary, #fff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    margin-bottom: 64px;

    & > button {
      @extend %button-bland;
      padding: 10px 16px;
    }
  }

  &__inner {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 32px;

    &__card1 {
      width: 100%;
      max-width: 248px;
      &__flex {
        @extend %title-14;
        font-weight: 600;
        color: #565856;
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 32px;

        &__number-first {
          &::before {
            display: none;
          }
        }

        &__number {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: #f4f5f4;

          &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 28px;
            background: #f4f5f4;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 2px;
          }
        }
      }

      &__flex-active {
        color: #028c4b;
        .edit-event__inner__card1__flex__number {
          background: var(--Colors-Background-bg-brand-solid, #028c4b);
          border: 2px solid #c2e4d4;
          color: #fff;

          &::before {
            top: -32px;
            background: var(--Colors-Background-bg-brand-solid, #028c4b);
          }
        }
      }
      &__flex-done {
        .edit-event__inner__card1__flex__number {
          background: var(--Colors-Background-bg-brand-solid, #028c4b);
          color: #fff;

          &::before {
            top: -32px;
            background: var(--Colors-Background-bg-brand-solid, #028c4b);
          }
        }
      }
    }

    &__card2 {
      width: 100%;
      max-width: 680px;
      height: 600px;
      overflow-y: auto;
      padding-bottom: 180px;

      &__title {
        @extend %title-24;
        font-weight: 700;
        color: #232423;
        margin-bottom: 8px;
      }

      &__subtitle {
        @extend %title-14;
        font-weight: 400;
        color: #7a7c79;
        margin-bottom: 32px;
      }

      &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        &__card {
          width: 100%;
          height: 96px;
          border-radius: 8px;
          border-radius: var(--radius-xl, 12px);
          border: 1px solid var(--Colors-Border-border-secondary, #eaebea);
          background: var(--Colors-Background-bg-primary, #fff);
          padding: 16px;
          cursor: pointer;

          &__icon {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;

            & > input {
              width: 16px;
              height: 16px;
              accent-color: #028c4b;
            }
          }

          & > div {
            @extend %title-16;
            font-weight: 600;
            color: #232423;
          }
        }

        &__card-active {
          border: 2px solid
            var(
              --Component-colors-Components-Buttons-Secondary-color-button-secondary-color-fg,
              #02a056
            );
        }
      }

      &__form {
        &__input-group {
          margin-bottom: 16px;
          & > label {
            margin-bottom: 6px;
          }

          & > input,
          & > select,
          & > textarea {
            @extend %normal-input;
            max-width: 100%;
          }

          & > textarea {
            height: 136px;
          }

          &__add-input {
            @extend %normal-input;
            max-width: 100%;
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 6px;
            margin-bottom: 16px;

            & > input {
              width: 100%;
              height: 100%;
              border: none;
              outline: none;
            }

            & > button {
              @extend %button-green-trans;
              height: 28px;
              font-size: 12px;
              min-width: 113px;
            }
          }

          &__added {
            display: flex;
            align-items: center;
            gap: 8px;
            flex-wrap: wrap;

            & > div {
              @extend %title-14;
              font-weight: 500;
              color: #565856;
              display: flex;
              align-items: center;
              gap: 3px;
              border-radius: var(--radius-sm, 6px);
              border: 1px solid var(--Colors-Border-border-primary, #d5d8d5);
              background: var(--Colors-Background-bg-primary, #fff);
              padding: 6px 4px 6px 10px;
            }
          }
        }

        &__input-grid {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-bottom: 16px;

          & > div {
            width: 100%;
            & > input,
            & > select,
            & > textarea {
              @extend %normal-input;
              max-width: 100%;
            }
          }
        }

        &__input-title {
          @extend %title-18;
          font-weight: 600;
          color: #232423;
          margin-top: 16px;
          margin-bottom: 6px;
        }

        &__input-subtitle {
          @extend %title-14;
          font-weight: 400;
          color: #7a7c79;
          margin-bottom: 24px;
        }
      }

      &__ticket-card {
        width: 100%;
        border-radius: var(--radius-xl, 12px);
        border: 1px solid var(--Colors-Border-border-secondary, #eaebea);
        background: var(--Colors-Background-bg-primary, #fff);
        margin-bottom: 16px;

        &__title {
          @extend %title-18;
          width: 100%;
          height: 58px;
          font-weight: 600;
          color: #232423;
          border-radius: var(--radius-xl, 12px) var(--radius-xl, 12px)
            var(--radius-none, 0px) var(--radius-none, 0px);
          background: var(--Colors-Background-bg-secondary, #f9fafa);
          display: flex;
          align-items: center;
          padding: 16px;
        }

        &__grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 16px;
          padding: 16px;

          & > div {
            & > label {
              margin-bottom: 6px;
            }

            & > input {
              @extend %normal-input;
            }
          }
        }
      }

      &__add-ticket {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 20px;
          left: 0;
          width: 100%;
          height: 1px;
          border: 1px dashed #eaebea;
        }

        & > button {
          @extend %button-bland;
          z-index: 1;
          padding: 0 18px;
          height: 40px;
          font-size: 14px;
        }
      }

      &__image {
        position: relative;
        width: 100%;
        height: 400px;
        border-radius: 12px;

        & > button {
          @extend %button-danger;
          position: absolute;
          bottom: 14px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
        }
      }

      &__switch-group {
        & > :first-child {
          & > :first-child {
            @extend %title-18;
            font-weight: 600;
            color: #232423;
            margin-top: 16px;
            margin-bottom: 6px;
          }

          & > :last-child {
            @extend %title-14;
            font-weight: 400;
            color: #7a7c79;
            margin-bottom: 24px;
          }
        }
      }

      &__mini-title {
        @extend %title-14;
        font-weight: 600;
        margin-bottom: 16px;
        color: #565856;
      }
      &__mini-subtitle {
        @extend %title-14;
        font-weight: 400;
        color: #7a7c79;
        margin-top: -12px;
        margin-bottom: 8px;
      }

      &__radio-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        & > div {
          @extend %title-14;
          font-weight: 500;
          color: #565856;
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }

      &__file-upload {
        border-radius: var(--radius-xl, 12px);
        border: 1px solid var(--Colors-Border-border-secondary, #eaebea);
        background: var(--Colors-Background-bg-primary, #fff);
        width: 100%;
        height: 96px;
        padding: 16px;
        margin-top: 16px;
        margin-bottom: 24px;

        display: flex;
        align-content: start;
        gap: 12px;

        &__icon {
          position: relative;
          height: fit-content;

          & > div {
            font-size: 1rem;
            font-weight: 700;
            color: #fff;
            position: absolute;
            bottom: 6px;
            left: -6px;
            padding: 3px;
            background: #028c4b;
            border-radius: 2px;
          }
        }

        &__group {
          width: 100%;

          &__title {
            @extend %title-14;
            font-weight: 500;
            color: #565856;
            margin-bottom: 4px;
          }
          &__subtitle {
            @extend %title-14;
            font-weight: 400;
            color: #7a7c79;
            margin-bottom: 8px;
          }

          &__progress {
            @extend %title-14;
            font-weight: 500;
            color: #565856;
            display: flex;
            align-items: center;
            gap: 12px;

            & > :first-child {
              width: 100%;
              height: 8px;
              background: #028c4b;
              border-radius: 4px;
            }
          }
        }
      }

      &__faq-card {
        width: 100%;
        height: 76px;
        padding: 16px;
        border-radius: var(--radius-xl, 12px);
border: 1px solid var(--Colors-Border-border-secondary, #EAEBEA);
background: var(--Colors-Background-bg-primary, #FFF);
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 16px;

&__title {
  & > :first-child {
    @extend %title-16;
    font-weight: 600;
    color: #232423;
    margin-bottom: 4px;
  }
  & > :last-child {
    @extend %title-14;
    font-weight: 400;
    color: #7A7C79;
  }
}

&__actions {
  display: flex;
  align-items: center;
  gap: 8px;

  & >:first-child {
    @extend %button-bland;
    min-width: 62px;
    height: 32px;
    font-size: 14px;
  }

  &__menu {
    position: relative;
    &__inner {
      position: absolute;
      top: 40px;
      left: -100px;
      width: 150px;
      border-radius: var(--radius-md, 8px);
      border: 1px solid var(--Colors-Border-border-secondary, #EAEBEA);
      background: var(--Colors-Background-bg-primary, #FFF);
      z-index: 1;

      /* Shadows/shadow-lg */
      box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);

      & > div {
        @extend %title-14;
        font-weight: 500;
        color: #565856;
        width: 100%;
        height: 38px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 16px;
        cursor: pointer;

       
      }

      &__danger {
        color: #D92D20 !important;
      }
    }
  }
}
      }

      &__ad-preview {
        width: 100%;
        
        &__inner {
          display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 28px;
        background: #F4F5F4;
        padding: 80px 50px;
        height: 400px;
        border-radius: 12px;
        margin-top: 16px;

        & > div {
          width: 100%;
          height: 100%;
        }
        &__mini-box {
          width: 100%;
          height: 24px;
          background: #fff;
          margin-bottom: 12px;
          border-radius: 4px;
        }
        &__max-box {
          width: 100%;
          height: 100%;
          background: #fff;
          border-radius: 4px;
        }
        }

        &__button {
          @extend %button-green;
          min-width: 100%;
          margin-top: 24px;
          margin-bottom: 24px;
        }
      }

      &__tabs {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--Colors-Border-border-secondary, #eaebea);
        margin-bottom: 16px;

        & > div {
          min-width: 56px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px;
        }

        &__active {
          color: #028c4b;
          border-bottom: 2px solid
            var(--colors-foreground-fg-brand-primary-600, rgba(2, 140, 75, 1));
        }
      }

      &__cards {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        margin-bottom: 24px;

        &__card {
          border-radius: var(--radius-xl, 12px);
          border: 1px solid var(--Colors-Border-border-secondary, #eaebea);
          background: var(--Colors-Background-bg-primary, #fff);
          width: 100%;
          height: 78px;
          padding: 20px 16px;

          &__title {
            @extend %title-16;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
            color: #232423;
            margin-bottom: 4px;
          }

          &__subtitle {
            @extend %title-14;
            font-weight: 400;
            color: #7a7c79;
          }
        }

        &__card-active {
          border: 2px solid
            var(
              --Component-colors-Components-Buttons-Secondary-color-button-secondary-color-fg,
              #02a056
            );
        }
      }

      &__label {
        margin-bottom: 4px;
      }
      &__input,
      &__select {
        @extend %normal-input;
        max-width: 100%;
        margin-bottom: 16px;
      }

      & > textarea {
        height: 136px;
      }

      &__preview {
        width: 100%;
        display: flex;
        align-items: start;
        gap: 32px;

        &__card {
          width: 100%;
        }

        &__details {
          &__title {
            @extend %title-18;
            font-weight: 600;
            color: #232423;
            margin-bottom: 16px;
          }

          &__group {
            display: flex;
            align-items: start;
            gap: 16px;
            margin-bottom: 16px;

            &__icon {
              border-radius: var(--radius-lg, 10px);
              border: 1px solid
                var(
                  --Component-colors-Components-Icons-Featured-icons-Modern-featured-icon-modern-border,
                  #eaebea
                );

              /* Shadows/shadow-xs */
              box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
              padding: 12px;
            }

            & > :last-child {
              & > :first-child {
                @extend %title-16;
                font-weight: 500;
                color: #232423;
                margin-bottom: 6px;
              }
              & > :last-child {
                @extend %title-14;
                font-weight: 400;
                color: #7a7c79;
              }
            }
          }

          & > button {
            @extend %button-bland;
            display: flex;
            align-items: center;
            gap: 6px;
            padding: 0 16px;
            color: #565856;
            margin-top: 20px;
          }
        }
      }

      &__upload {
        font-weight: 400;
        color: #7a7c79;
        border-radius: var(--radius-xl, 12px);
        border: 1px solid var(--Colors-Border-border-secondary, #eaebea);
        background: var(--Colors-Background-bg-primary, #fff);
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
          @extend %title-14;
          font-weight: 400;
          color: #7a7c79;
          margin-bottom: 6px;
          margin-top: 12px;

          & > span {
            font-weight: 500;
            color: #02a056;
          }
        }
        &__subtitle {
          @extend %title-12;
        }
      }
    }
  }

  &__range {
    position: fixed;
    bottom: 72px;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: #eff0ef;

    & > div {
      width: 20%;
      height: 100%;
      border-radius: 4px;
      background: #028c4b;
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1440px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #ffff;

    & > :first-child {
      @extend %button-bland;
    }
    & > :last-child {
      @extend %button-green;
      min-width: 100px;
    }
  }

  &__faq-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
background: var(--Colors-Background-bg-overlay, #0f0f0f5f);
display: flex;
align-items: center;
justify-content: center;

&__inner {
  max-width: 480px;
  width: 100%;
  background: #FFF;
  padding: 24px;
  border-radius: 8px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;

    & >:first-child {
      @extend %title-20;
      font-weight: 600;
      color: #232423;
    }
  }

  &__subtitle{
    @extend %title-14;
    font-weight: 400;
    color: #7A7C79;
    margin-bottom: 24px;
  }

  & > label {
margin-bottom: 6px;
  }

  & > input, & > textarea {
    @extend %normal-input;
    margin-bottom: 16px;
    min-width: 100%;
  }
  & > textarea {
    height: 136px;
  }

  &__button-group {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
    margin-top: 24px;

    & >:first-child {
      @extend %btn-empty;
      padding: 10px 18px;
    }
    & >:last-child {
      @extend %button-bland;
      min-width: 68px;
      height: 44px;
    }
  }
}
  }

  &__preview-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
background: var(--Colors-Background-bg-overlay, #0f0f0f5f);
display: flex;
align-items: center;
justify-content: center;

&__inner {
  max-width: 800px;
  width: 100%;
  background: #FFF;
  padding: 24px;
  border-radius: 8px;
  height: 90vh;
  overflow-y: auto;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;

    & >:first-child {
      @extend %title-20;
      font-weight: 600;
      color: #232423;
    }
  }
}
  }
}
