.dd-partners {
    overflow: hidden;
// background: #000;
    &__hero {
        
        padding-top: 200px;

        height: 568px;
        background: url('/assets/Desktop.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        // background: blue;
        overflow: hidden;
        &__title {
            @extend %title-60;
            width: 100%;
            max-width: 23ch;
            text-align: center;
            font-weight: 700;
            line-height: 72px; /* 120% */
letter-spacing: -1.2px;
font-family: unset;
margin: auto;
margin-bottom: 16px;



        }

        &__subtitle {
            @extend %title-20;
            width: 100%;
            max-width: 53ch;
            text-align: center;
            margin: auto;
            margin-bottom: 48px;

        }

        &__button-group {
            width: fit-content;
            margin: auto;
            display: flex;
            align-items: center;
            gap: 12px;
            margin-bottom: 80px;
            
            & >:first-child {
                @extend %button-green;
                min-width: 139px;
                height: 48px;
            }
            & >:last-child {
                @extend %button-bland;
            }
        }

       
    }
}