.primary-button {
  width: 214px;
  height: 60px;
  background: rgba(255, 215, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    margin: auto;
}

%primary-button {
  width: 214px;
  height: 60px;
  background: rgba(255, 215, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    margin: auto;
}


// .trans-button {
  
// }

// %trans-button {
  
// }

.button-green, %button-green {
 min-width: 150px;
 height: 40px;
 border-radius: 24px;
 background: #008D48;
 border: none;
 outline: none;
 color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
}
.button-green-trans, %button-green-trans {
 min-width: 150px;
 height: 40px;
 border-radius: 24px;
 background: none;
 border: 1px solid #008D48;
 outline: none;
 color: #008D48;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
}
.button-gray, %button-gray{
 min-width: 150px;
 height: 40px;
 border-radius: 24px;
 background: #F9FAFA;
 border: 1px solid #EAEBEA;
 box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
 outline: none;
 color: #ACAFAC;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
}
.font-inter{
  font-family: Inter;
}
.button-bland, %button-bland {
min-width: 92px;
height: 48px;
border-radius: 24px;
background: #F9FAFA;
border: 1px solid #EAEBEA;
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
color: #ACAFAC;
font-family: Inter;
font-size: 16px;
font-weight: 500;
transition: 0.4s;

&:hover {
  background: #008D48;
  color: #FFF;
}
}



// .bottom-button {
  
// }

.btn-empty, %btn-empty{
  border: 1px solid #EAEBEA;
  font-size: 14px;
  padding: 2px 10px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 6px; 
  
}
@layer utilities {

  .pag-btn {
    @apply p-4 text-[#7A7C79] font-medium text-[14px] ;
  }
  .active-pag-btn {
    @apply bg-[#F4F5F4] w-[40px] h-[40px] rounded-full  text-[#3D3E3D] transition-all duration-100;
  }
  .prev-next-btn{
    @apply px-[12px] py-[6px] text-[14px] border-[1px] rounded-full border-[#EAEBEA] bg-[#F9FAFA];
  }
}