.primary-button {
  width: 214px;
  height: 60px;
  background: rgba(255, 215, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    margin: auto;
}

%primary-button {
  width: 214px;
  height: 60px;
  background: rgba(255, 215, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    margin: auto;
}


.trans-button {
  
}

%trans-button {
  
}

.button-green, %button-green {
 min-width: 150px;
 height: 40px;
 border-radius: 24px;
 background: #008D48;
 border: none;
 outline: none;
 color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
}

.button-bland, %button-bland {
min-width: 92px;
height: 48px;
border-radius: 24px;
background: #F9FAFA;
border: 1px solid #EAEBEA;
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
color: #ACAFAC;
font-family: Inter;
font-size: 16px;
font-weight: 500;
transition: 0.4s;

&:hover {
  background: #008D48;
  color: #FFF;
}
}



.bottom-button {
  
}