.primary-button {
  width: 214px;
  height: 60px;
  background: rgba(255, 215, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    margin: auto;
}

%primary-button {
  width: 214px;
  height: 60px;
  background: rgba(255, 215, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 40px;
    margin: auto;
}


.trans-button {
  
}

%trans-button {
  
}

.button-green, %button-green {
 min-width: 150px;
 height: 40px;
 border-radius: 24px;
 background: #008D48;
 border: none;
 outline: none;
 color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
}



.bottom-button {
  
}