label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    color: rgba(36, 35, 35, 1);
    margin-bottom: 6px;
}




%normal-input {
    width: 100%;
  max-width: 400px;
  height: 40px;
  border-radius: var(--radius-md, 8px);
  border: 1px solid var(--Colors-Border-border-primary, #D5D8D5);
  background: var(--Colors-Background-bg-primary, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding-left: 12px;
  font-size: 1.6rem;
  color: #232423;
  
  &::placeholder {
    color: #ACAFAC;
  }

 
}

%otp-input {
  

}


%otp-input-italics::placeholder {

}
