label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    color: rgba(36, 35, 35, 1);
}




%normal-input {
    width: 100%;
  max-width: 480px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid rgba(250, 250, 250, 1);
  padding-left: 14px;
  font-size: 1.6rem;

  &::placeholder {
    color: rgba(153, 153, 153, 1);
  }
}

%otp-input {
  

}


%otp-input-italics::placeholder {

}
