%title-40 {
    font-size: 4rem;
    font-weight: 700;
    color: rgba(36, 35, 35, 1);
}
%title-32 {
    font-size: 3.2rem;
    font-weight: 700;
    color: rgba(36, 35, 35, 1);
}

%title-24 {
    font-size: 2.4rem;
    font-weight: 700;
    color: rgba(36, 35, 35, 1);
}

%title-18 {
    font-size: 1.8rem;
    font-weight: 500;
}
%title-16 {
    font-size: 1.6rem;
    font-weight: 500;
}

%title-14 {
    font-size: 1.4rem;
    font-weight: 400;
}
%title-12 {
    font-size: 1.2rem;
    font-weight: 400;
}
