.admin-sidebar {
   &__inner {
    padding: 24px;
    
    &__logo {
        margin-bottom: 24px;
    }

    &__group {
        @extend %title-16;
        font-weight: 500;
        color: #232423;
        display: flex;
        align-items: center;
        gap: 14.5px;
        height: 48px;
        padding: 12px;
        border-radius: 6px;
        cursor: pointer;
    }

    &__group-active {
        color: #028C4B;
        background: var(--Colors-Background-bg-brand-primary, rgba(238, 252, 245, 1));

        & > svg {
            & > path {
                stroke: #02A056;
            }
        }
    }

    &__group-settings {
        margin-top: 180px;
    }

   }
    &__user {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        border-top: 1px solid var(--Colors-Border-border-secondary, #EAEBEA);
        padding: 24px;
        padding-right: 24px;
        margin-top: 24px;

        &__title {
            @extend %title-14;
            
            & >:first-child {
                font-weight: 600;
            color: #565856;
            margin-bottom: 4px;
            }

            & >:last-child {
                font-weight: 400;
                color: #7A7C79;
            }
        }
    }
}